

body {
    font-family: Arial, sans-serif;
    background-color: #687871;
}


.container {
    text-align: center;
    margin-top: 100px;
}
.floor-button{
    margin: 5px;
}
#floor {
    font-size: 24px;
    margin-bottom: 20px;
}

#elevator {
    position: relative;
    width: 75px;
    height: 75px;
    background-color: rgba(0,0,0,0);
    margin: 0 auto;
    transition: top 0.5s;
}

#floor1 {
    position: absolute;
    left: 55%;
    top: 250px;
    transform: translateX(-50%);
}
#floor1-open
{
    position: absolute;
    left: 59%;
    top: 250px;
    transform: translateX(-50%);
}
#floor1-close
{
    position: absolute;
    left: 62%;
    top: 250px;
    transform: translateX(-50%);
}


#floor2 {
    position: absolute;
    left: 55%;
    top: 350px;
    transform: translateX(-50%);
}
#floor2-open
{
    position: absolute;
    left: 59%;
    top: 350px;
    transform: translateX(-50%);
}
#floor2-close
{
    position: absolute;
    left: 62%;
    top: 350px;
    transform: translateX(-50%);
}

#floor3 {
    position: absolute;
    left: 55%;
    top: 450px;
    transform: translateX(-50%);
}
#floor3-open
{
    position: absolute;
    left: 59%;
    top: 450px;
    transform: translateX(-50%);
}
#floor3-close
{
    position: absolute;
    left: 62%;
    top: 450px;
    transform: translateX(-50%);
}

#inside-panel {
    position: absolute;
    left: 40%;
    top: 100;
    transform: translateX(-50%);
}

#inside-panel button {
    margin: 5px;
}

