body {
    font-family: Arial, sans-serif;
}

h1 {
    text-align: center;
}

#login-form{
    text-align: center;
    margin-top: 100px;
}

.hover-image:hover {
    content: url("../images/requestaccess-hover.png");
  }
  
  .active-image:active {
    content: url("../images/requestaccess-active.png");
  }