/* Reset default styles */

  
  /* Body styles */
  body {
    font-family: Arial, sans-serif;
    background-color: #f4f4f4;
    color: #333;
  }
  
  /* Header styles */
  
  h1 {
    font-size: 48px;
    background-color: bisque;
    color: #56c2c2;
    margin-bottom: 10px;
  }
  
  /* Main content styles */
  
  h2 {
    font-size: 28px;
    color: #333;
    margin-bottom: 10px;
  }
  
  p {
    line-height: 1.5;
    margin-bottom: 10px;
  }
  
  a {
    color: #0066cc;
    text-decoration: none;
  }
  
  a:hover {

    text-decoration: underline;
  }

  
  /* Footer styles */
  footer {
    background-color: #333;
    padding: 20px;
    color: #fff;
    text-align: center;
  }
  
  
