.container {
    text-align: center;
    margin-top: 100px;
}
.floor-button{
    margin: 5px;
}
#floor {
    font-size: 24px;
    margin-bottom: 20px;
}

#elevator {
    position: relative;
    width: 50px;
    height: 50px;
    background-color: blue;
    margin: 0 auto;
    transition: top 0.5s;
}

#floor1 {
    position: absolute;
    left: 55%;
    top: 200px;
    transform: translateX(-50%);
}

#floor2 {
    position: absolute;
    left: 55%;
    top: 300px;
    transform: translateX(-50%);
}

#floor3 {
    position: absolute;
    left: 55%;
    top: 400px;
    transform: translateX(-10%);
}

#inside-panel {
    position: absolute;
    left: 40%;
    top: 100;
    transform: translateX(-50%);
}

#inside-panel button {
    margin: 5px;
}

.rotate {
    transform: rotate(180);
}

#DownArrow {
    transform: rotate(180);
}
